<div class="service-mode-container">

  <header class="header">
    <div class="title-group">
      <mat-icon class="gear-icon">settings</mat-icon>
      <h2 class="main-title">Servicios y Modalidad</h2>
    </div>
  </header>

  <form [formGroup]="serviceModeForm" class="form-content">

    <div class="form-row">

      <div class="form-group">
        <label for="modalidad">Modalidad de Servicio <span class="required">*</span></label>

        <ng-select
            id="modalidad"
            [items]="modalities()"
            bindLabel="name"
            bindValue="id"
            formControlName="serviceModeId"
            placeholder="Seleccione una opción"
            [clearable]="true"
            [searchable]="false">
          </ng-select>

      </div>

      <div class="form-group">
        <label for="tiempo">Tiempo</label>
        <input
          type="text"
          id="tiempo"
          class="form-control"
          placeholder="Ej: 5 Meses"
          formControlName="time"
        >
      </div>

    </div>
  </form>
</div>
