<div class="main-class">
  <div class="top-container">
    <!-- Left-aligned search field -->
    <mat-form-field appearance="outline" class="search-field">
      <input matInput
            (keyup)="applyFilter($event)"
            placeholder="Buscar..."
            [formControl]="searchControl"
            #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="client-field">
  <input
    matInput
    placeholder="Buscar cliente..."
    [formControl]="clientControl"
    [matAutocomplete]="autoClients">

  <mat-icon matSuffix>search</mat-icon>

  <mat-autocomplete #autoClients="matAutocomplete">
      <mat-option *ngFor="let c of filteredClients" [value]="c.tradeName">
        {{ c.tradeName }}
      </mat-option>
  </mat-autocomplete>
  </mat-form-field>

    <mat-form-field appearance="outline" class="year-selector">
      <mat-select [formControl]="yearControl" placeholder="Año">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Month Selector -->
    <mat-form-field appearance="outline" class="month-selector">
      <mat-select [formControl]="monthControl" placeholder="Mes">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{month.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Periodo + Toggle sin horas -->
    <div class="period-and-filter-container" [hidden]="showPeriodToggle">

      <!-- Periodo -->
      <div class="period-toggle-container">
        <span class="toggle-label">Periodo:</span>
        <mat-button-toggle-group
          [formControl]="periodToggleControl"
          class="period-toggle-group">
          <mat-button-toggle [value]="false" class="period-toggle-button">
            Quincena
          </mat-button-toggle>
          <mat-button-toggle [value]="true" class="period-toggle-button">
            Mes Completo
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <!-- Toggle colaboradores sin horas -->
      <mat-slide-toggle
        [formControl]="showOnlyWithoutHours"
        color="blue"
        class="without-hours-toggle">
        Colaboradores sin horas
      </mat-slide-toggle>

    </div>




  <button mat-flat-button
          class="approve-button"
          (click)="$event.stopPropagation(); approveSelectedActivities()"
          [disabled]="selection.selected.length === 0 || isApproving">
    <mat-icon>check_circle</mat-icon>
    Aprobar
    <mat-spinner diameter="20" *ngIf="isApproving" class="spinner"></mat-spinner>
  </button>

    <button mat-flat-button
            class="download-button"
            (click)="$event.stopPropagation(); downloadSelectedReports()"
            [disabled]="selection.selected.length === 0">
      <mat-icon>download</mat-icon>
      Descargar
    </button>
    <button mat-flat-button
        class="download-button"
        (click)="downloadTableExcel()">
       <mat-icon>download</mat-icon>
        Reporte
      </button>
  </div>

  <div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="collaborator-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="colaborador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Colaborador</th>
      <td mat-cell *matCellDef="let element">
        <strong>{{element.nombre}}</strong>
      </td>
    </ng-container>

    <!-- Project Column -->
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proyecto</th>
      <td mat-cell *matCellDef="let element">{{element.proyecto}}</td>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
      <td mat-cell *matCellDef="let element">{{element.cliente}}</td>
    </ng-container>

    <!-- Leader Column -->
    <ng-container matColumnDef="lider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lider Técnico</th>
      <td mat-cell *matCellDef="let element">{{element.lider}}</td>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="horas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro de Horas</th>
      <td mat-cell *matCellDef="let element">
        {{element.horas | number:'1.2-2'}} hrs
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let element">
        <div class="status-container" [ngClass]="{
          'completed': element.estado === 'Completo',
          'pending': element.estado === 'Pendiente',
          'process': element.estado === 'En progreso'
        }">
          <div class="status-dot"></div>
          <div class="status-text">{{element.estado}}</div>
        </div>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                class="download-button"
                matTooltip="Descargar reporte"
                (click)="downloadCollaboratorExcel(element)">
          <mat-icon aria-hidden="false" aria-label="Download icon">download</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="diasConReporte">
  <th mat-header-cell *matHeaderCellDef>Días con Reporte</th>
  <td mat-cell *matCellDef="let element">
    {{ element.diasConReporte }}
  </td>
</ng-container>

<!-- Días pendientes -->
<ng-container matColumnDef="diasPendientes">
  <th mat-header-cell *matHeaderCellDef>Días a Completar</th>
  <td mat-cell *matCellDef="let element">
    {{ element.diasPendientes }}
  </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{ 'sin-horas': row.horas === 0 }">
    </tr>
  </table>
</div>

  <div *ngIf="dataSource.data.length === 0 && noDataMessage" class="no-data-message">
    {{ noDataMessage }}
  </div>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Seleccionar página de colaboradores">
  </mat-paginator>
</div>
