<!-- person-info.component.html -->
<mat-card class="person-info-card">
  <h2 class="stepper-title">Sistema de Requerimientos</h2>
  <p class="stepper-subtitle">
    Complete la información requerida en cada paso
  </p>
  <!-- Stepper para navegación paso a paso -->
  <mat-stepper  #stepper [linear]="isLinear" class="custom-stepper">
    <!-- Paso 1: Datos Generales -->
    <mat-step [completed]="isStepComplete(0)">
      <!-- [stepControl]="generalDataForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <general-data></general-data>
      </div>

      <div class="step-actions step-actions-first">
        <button
          mat-button
          class="itg-primary-btn"
          (click)="saveGeneralDataAndNext()"

        >Servicios y modalidad<mat-icon class="arrow-icon-right">arrow_forward</mat-icon>
        </button>
        <!-- [disabled]="!isStepComplete(0)" -->
      </div>
    </mat-step>

    <!-- Paso 2: Servicios y modalidad -->
    <mat-step [completed]="isStepComplete(1)">
      <!-- [stepControl]="serviceModeForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <service-mode></service-mode>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious class="itg-primary-btn">
          <mat-icon class="arrow-icon">arrow_back</mat-icon>Datos personales</button>
        <button
          mat-button
          class="itg-primary-btn"
          (click)="saveServiceModeAndNext()"

        >Pago y horario<mat-icon class="arrow-icon-right">arrow_forward</mat-icon>
        </button>
        <!-- [disabled]="!isStepComplete(1)" -->
      </div>
    </mat-step>

    <!-- Paso 3: Pago y horario -->
    <mat-step [completed]="isStepComplete(2)">
      <!-- [stepControl]="paymentScheduleForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <payment-schedule></payment-schedule>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious class="itg-primary-btn">
          <mat-icon class="arrow-icon">arrow_back</mat-icon>Formación</button>
        <button
          mat-button
          class="itg-primary-btn"
          (click)="savePaymentScheduleAndNext()"

        >Nivel Recursos<mat-icon class="arrow-icon-right">arrow_forward</mat-icon>
        </button>
        <!-- [disabled]="!isStepComplete(2)" -->
      </div>
    </mat-step>

    <!-- Paso 4: Nivel Recursos -->
    <mat-step [completed]="isStepComplete(3)">
      <!-- [stepControl]="resourcesForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <resources-level></resources-level>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious class="itg-primary-btn">
          <mat-icon class="arrow-icon">arrow_back</mat-icon>Formación</button>
        <button
          mat-button
          class="itg-primary-btn"
          (click)="saveResourcesAndNext()"

        >Detalle perfil<mat-icon class="arrow-icon-right">arrow_forward</mat-icon>
        </button>
        <!-- [disabled]="!isStepComplete(3)" -->
      </div>
    </mat-step>

    <!-- Paso 5: Detalle perfil -->
     <mat-step [completed]="isStepComplete(4)">
      <!-- [stepControl]="profileDetailForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <profile-detail></profile-detail>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious class=".itg-primary-btn">
          <mat-icon class="arrow-icon">arrow_back</mat-icon>Formación</button>
        <button
          mat-button
          class="itg-primary-btn"
          (click)="saveProfileDetailAndNext()"

        >Nivel Recursos<mat-icon class="arrow-icon-right">arrow_forward</mat-icon>
        </button>
        <!-- [disabled]="!isStepComplete(4)" -->
      </div>
    </mat-step>

    <!-- Paso 6: Otros conocimientos -->
    <mat-step [completed]="isStepComplete(5)">
      <!-- [stepControl]="knowledgeForm"-->
      <ng-template matStepLabel>
      </ng-template>

      <div class="step-content">
        <other-knowledge></other-knowledge>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious class="itg-primary-btn">
          <mat-icon class="arrow-icon">arrow_back</mat-icon>Detalles perfil</button>
        <button
          mat-button
          class="itg-primary-btn"
          (click)="saveKnowledgeAndNext()"

        >
          <span *ngIf="!isSaving">Completar Perfil</span>
          <span *ngIf="isSaving">
            <mat-spinner diameter="20" class="inline-spinner"></mat-spinner>
            Guardando...
          </span>
        </button>
        <!-- [disabled]="!isStepComplete(5) || isSaving" -->
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
