<div class="layout-wrapper">

  <div class="header-section">
    <h2 class="main-title">Datos generales del cliente</h2>
  </div>

  <form [formGroup]="generalDataForm" class="general-data-container">

    <div class="columns-grid">

      <section class="panel left-column">
        <div class="form-group">
          <label for="cliente">Cliente</label>
          <select id="cliente" class="form-control" formControlName="clientId">
            <option value="" disabled selected>Seleccione un cliente</option>
            @for (client of clients(); track client.id) {
              <option [value]="client.id">{{ client.legalName }}</option>
            } @empty {
              <option disabled>No hay clientes disponibles</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label for="cargo">Cargo de vacante</label>
          <select id="cargo" class="form-control" formControlName="cargoId">
            <option value="" disabled selected>Seleccione un cargo</option>
            <option value="dev">DEV.FULLSTACK</option>
            <option value="qa">ANALISTA QA</option>
          </select>
        </div>
      </section>

      <section class="panel right-column">

        <div class="form-group">
          <label>Persona de Contacto</label>
          <select class="form-control">
            <option value="" selected>Seleccionar de lista...</option>
          </select>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="nombres">Nombres <span class="required">*</span></label>
            <input type="text" id="nombres" class="form-control" placeholder="Ingrese los nombres" formControlName="contactFirstName">
          </div>

          <div class="form-group">
            <label for="apellidos">Apellidos <span class="required">*</span></label>
            <input type="text" id="apellidos" class="form-control" placeholder="Ingrese los apellidos" formControlName="contactLastName">
          </div>
        </div>

        <div class="form-group">
          <label for="correo">Correo Electrónico (Opcional)</label>
          <input type="email" id="correo" class="form-control" placeholder="correo@ejemplo.com" formControlName="contactEmail">
        </div>
      </section>

    </div>
  </form>

</div>
