<div>

  <div class="top-items">
    <mat-form-field appearance="outline" class="search-field">
      <input matInput
            [formControl]="searchControl"
            placeholder="Buscar por nombres, código de proyecto..."
            #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div class="period-toggle-container" style="margin-left: 20px;">
      <mat-button-toggle-group
        [formControl]="statusFilterControl"
        class="period-toggle-group">
        <mat-button-toggle value="all" class="period-toggle-button">
          Todos
        </mat-button-toggle>
        <mat-button-toggle value="active" class="period-toggle-button">
          Activos
        </mat-button-toggle>
        <mat-button-toggle value="inactive" class="period-toggle-button">
          Inactivos
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <button mat-flat-button class="add-button mb-20" style="margin-left: auto;" (click)="downloadProjects()">
      <mat-icon>download</mat-icon>
      Descargar Proyectos
    </button>

    <button mat-flat-button class="add-button mb-20" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        Agregar Nuevo
    </button>


  </div>

  <table mat-table [dataSource]="dataSource" matSort style="border-radius: 8px 8px 0 0; overflow: hidden;">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
      <td mat-cell *matCellDef="let element">{{element.code}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th> <!-- Corregí el nombre para diferenciarlo -->
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="leader">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Líder Técnico </th>
      <td mat-cell *matCellDef="let element">{{getLeaderName(element)}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element">
        <div class="status-container" [ngClass]="{'active': element.status, 'inactive': !element.status}">
          <div class="status-dot"></div>
          <div class="status-text">{{element.status ? 'Activo' : 'Inactivo'}}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
      <td mat-cell *matCellDef="let element">{{element.startDate | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </th>
      <td mat-cell *matCellDef="let element">{{element.endDate | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!--<ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Presupuesto </th>
      <td mat-cell *matCellDef="let element">{{element.budget}}</td>
    </ng-container>-->

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEditDialog(element)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="viewProjectDetails(element.id)">
            <mat-icon>visibility</mat-icon>
            <span>Visualizar</span>
          </button>
          <button mat-menu-item (click)="toggleProjectStatus(element)">
            <mat-icon>{{element.status ? 'delete' : 'check_circle'}}</mat-icon>
            <span>{{element.status ? 'Desactivar' : 'Activar'}}</span>
          </button>
          <button mat-menu-item (click)="openAssignDialog(element)">
            <mat-icon>assignment</mat-icon>
            <span>Asignar</span>
          </button>
          <button mat-menu-item (click)="projectionView(element.id)">
            <mat-icon>present_to_all</mat-icon>
            <span>Proyección</span>
          </button>
          <button mat-menu-item (click)="downloadProjection(element)">
            <mat-icon>download</mat-icon>
            <span>Descargar Proyección</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page of projects">
  </mat-paginator>

</div>
