/* ===== CONTENEDOR GENERAL =====*/
.custom-stepper {
  background: transparent;
  margin-left: 1rem;
}

.stepper-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: rem;
}

.stepper-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 16px;
}

/* ===== HEADER DEL STEPPER ===== */
.custom-stepper ::ng-deep .mat-horizontal-stepper-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* ===== CADA PASO ===== */
.custom-stepper ::ng-deep .mat-step-header {
  flex: auto;
  justify-content: center;
  display: flex;
  pointer-events: none; // evita clicks (temporal)
}

/* ===== CONTENEDOR DEL ÍCONO ===== */
.custom-stepper ::ng-deep .mat-step-icon-container {
  margin: 0;
}

/* ===== CÍRCULO DEL PASO ===== */
.custom-stepper ::ng-deep .mat-step-icon {
  background-color: #e0e0e0;
  color: #555;
  width: 50px;
  height: 50px;
  font-size: 25px;
}

.custom-stepper ::ng-deep .mat-stepper-horizontal-line {
  display: none;
}

/* ===== PASO ACTIVO ===== */
.custom-stepper ::ng-deep .mat-step-header.mat-active .mat-step-icon {
  background-color: #1976d2;
  color: #fff;
}

/* ===== PASO COMPLETADO ===== */
.custom-stepper ::ng-deep .mat-step-header.mat-completed .mat-step-icon {
  background-color: #1976d2;
  color: #fff;
}

/* ===== LÍNEA ENTRE PASOS ===== */
.custom-stepper ::ng-deep .mat-stepper-horizontal-line {
  border-top-width: 2px;
  border-top-color: #e0e0e0;
}

/* ===== BOTONES DE NAVEGACIÓN ===== */
.step-actions {
  display: flex;
  align-items: center;          // misma altura
  justify-content: space-between; // uno izquierda, otro derecha
  margin-top: 24px;
}

/* En pasos con solo un botón */
.step-actions-first {
  justify-content: flex-end; // botón a la derecha
}
